.jacket{
    width: 20%;
    height: auto;
}

.vinyl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prixPanier{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filter{
    filter: drop-shadow(0 0 0.5rem #D02A2A);
}

.soldOut{
    position: absolute;
    object-fit: fill;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.posBtn{
    display: flex;
    justify-content: center;
}

.cardBorder{
    border: 3px solid #D02A2A;
    border-radius: 10px;
    margin: 10px;
}

.cardSize{
    width: 18rem;
    height: 30rem;
}

.igmPos{
    display: flex;
    justify-content: center;
}

.btnStyle{
    background-color: black;
    border: none;
}