.jacket{
    width: 20%;
    height: auto;
}

.vinyl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prixPanier{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.shopBtn{
    background-color: #403c3c;
    border: none;
}

.posCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.filter{
    filter: drop-shadow(0 0 0.5rem #D02A2A);
}

.soldOut{
    position: absolute;
    object-fit: fill;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}