{% extends "base.html.twig" %}
{% block title %}VinylParadise - Accueil{% endblock %}
{% block body %}
<h1 class="text-center text-white">Bienvenue sur Vinyl Paradise !</h1>
<h2 class="text-center text-white">Le site de référence pour les amateurs de musique & vinyles spécialiste du genre metal.</h2>
<p class="text-center presentation text-white">Bienvenue sur Vinyl Paradis !<br>
    votre boutique en ligne dédiée aux amateurs de metal et de vinyles ! Chez Vinyl Paradis, nous partageons votre passion pour le son brut et authentique du metal, que vous soyez un fan de heavy metal, de black metal, de death metal, de thrash ou de doom. Nous nous efforçons de vous offrir une sélection de vinyles rares et de haute qualité, allant des classiques intemporels aux dernières nouveautés. Chaque disque est soigneusement choisi pour satisfaire les goûts les plus exigeants des aficionados du metal. Tous nos vinyles sont authentiques et garantissent une qualité sonore exceptionnelle. Nous croyons que le vinyle est le meilleur format pour apprécier la profondeur et la richesse des compositions metal, et nous nous engageons à fournir des produits qui respectent cette philosophie. Notre équipe est composée de passionnés de metal et de vinyles, toujours prêts à partager leurs connaissances et à vous conseiller dans vos choix. Que vous soyez un collectionneur chevronné ou un nouveau venu dans le monde du vinyle, Vinyl Paradis est là pour répondre à toutes vos attentes. Plongez dans l'univers du metal avec nous et découvrez des trésors sonores qui feront vibrer votre âme de metalhead !</p>
{% for topMonth in topMonths %}
<h2 class="text-center text-white">Notre Top 5 du mois de {{topMonth.mois}} :</h2>
{% endfor %}
{% for topSong in topSongs %}
    <iframe style="border-radius:12px" src="{{ topSong.file }}" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
{% endfor %}
{% endblock %}