{% extends "base.html.twig" %}
{% block title %}VinylParadise - Accueil{% endblock %}
{% block body %}
<h1 class="text-center">Bienvenue sur Vinyl Paradise !</h1>
        <h2 class="text-center">Le site de référence pour les amateurs de musique & vinyles.</h2>
        <p class="text-center presentation">Bienvenue sur Vinyl Paradis !<br>
            Nous sommes enchantés de vous accueillir dans notre boutique en ligne dédiée aux passionnés de vinyles. Chez Vinyl Paradis, nous partageons votre amour pour la musique authentique et le son inimitable des disques vinyles.<br>
            Explorez notre vaste collection de vinyles, allant des classiques intemporels aux dernières nouveautés. Que vous soyez un collectionneur aguerri ou un amateur curieux, vous trouverez chez nous des trésors musicaux qui raviront vos oreilles et enrichiront votre collection.<br>
            Notre mission est de vous offrir une expérience d'achat exceptionnelle, avec des produits de haute qualité, des descriptions détaillées et un service client attentif. N'hésitez pas à nous contacter pour toute question ou besoin d'assistance.<br>
            Merci de nous rejoindre dans cette aventure musicale. Bon shopping et bonne écoute sur Vinyl Paradis !</p>
        <h2 class="text-center">Notre Top 5 du mois de Juin :</h2>
{% endblock %}